In [11]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
df=pd.read_csv('train.csv')[['Age','Survived','Fare','Pclass']]
df.head()

    Age  Survived     Fare  Pclass
0  22.0         0   7.2500       3
1  38.0         1  71.2833       1
2  26.0         1   7.9250       3
3  35.0         1  53.1000       1
4  35.0         0   8.0500       3

In [13]:
df.isnull().mean()*100

Age         19.86532
Survived     0.00000
Fare         0.00000
Pclass       0.00000
dtype: float64

In [14]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
x_train.head()

      Age     Fare  Pclass
30   40.0  27.7208       1
10    4.0  16.7000       3
873  47.0   9.0000       3
182   9.0  31.3875       3
876  20.0   9.8458       3

In [22]:
knn = KNNImputer(n_neighbors=3, weights='distance')
knn.fit(x_train)
x_train_trans = knn.transform(x_train)
x_test_trans = knn.transform(x_test)

In [23]:
lr=LogisticRegression()
lr.fit(x_train_trans,y_train)
y_pred=lr.predict(x_test_trans)
accuracy_score(y_test,y_pred)

0.7150837988826816